.placeBody {
  width: 64px;
  height: 64px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.transitionBody {
  width: 32px;
  height: 64px;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.place:before {
  visibility: hidden;
  content: '';
  position: absolute;
  /*top: -5px;*/
  /*left: 100%;*/
  height: 100%;
  width: 100%;
  /*transform: translate(-50%, 0);*/
  /*background: #d6d5e6;*/
  z-index: 1000;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  font-size: 9px;
  /*border: 2px solid #222138;*/
}

.transition:before {
  visibility: hidden;
  content: '';
  position: absolute;
  /*top: -5px;*/
  /*left: 100%;*/
  height: 100%;
  width: 100%;
  /*transform: translate(-50%, 0);*/
  /*background: #d6d5e6;*/
  z-index: 1000;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  font-size: 9px;
  /*border: 2px solid #222138;*/
}

div.sourceHandle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

div.targetHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}